@use "../abstracts";

.header {
	grid-column: page-start / page-end;
	grid-row: header-start/header-end;

	@include abstracts.flexCenter;
	justify-content: space-between;
	padding: 1rem 4rem;

	height: 8rem;
	width: 100%;

	background-color: var(--background);

	&__logo {
		&-box {
			@include abstracts.flexCenter;
			gap: 1rem;
		}

		&-text {
			font-size: 2rem;
			font-weight: 600;
		}

		&-icon {
			width: 5rem;
			height: 5rem;
		}
	}

	&__user {
		&-box {
			position: relative;
			@include abstracts.flexCenter;
			gap: 1rem;
		}

		&-options,
		&-menu {
			width: 2.5rem;
			height: 2.5rem;
		}

		&-options {
			box-sizing: content-box;
			padding: 1.2rem;
			border-radius: 100rem;

			&:hover {
				background-color: var(--background-light);
			}
		}

		&-button {
			@include abstracts.flexCenter;
			gap: 1rem;
		}

		&-account {
			width: 4rem;
			height: 4rem;
		}
	}
}
