@use "../base/typography";
@use "../abstracts/mixins";

.bookings__card-content {
	width: 100%;
	display: flex;
}

.bookings {
	margin: 2rem;

	span {
		font-weight: 600;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		&-item {
			list-style: none;
		}
	}

	&__card {
		display: flex;
		align-items: center;
		width: 100%;
		font-size: typography.$fontsize-medium;
		position: relative;

		border: 1px solid var(--background-lines);
		border-radius: 6px;
		overflow: hidden;

		&-summary {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;
			width: max-content;
			margin: auto 2rem;
		}

		&-label {
			text-align: end;
			padding: 1.5rem 2rem;
			margin-top: -2rem;
			font-size: typography.$fontsize-small;
			width: 12rem;

			&--past {
				color: var(--primary-details);
			}
		}

		&-dates {
			display: flex;
			gap: 1rem;

			&-icon {
				height: 2.5rem;
				color: var(--primary);

				&:hover {
					cursor: default;
				}
			}
		}

		&-photo {
			object-fit: cover;
			height: 18rem;
			@include mixins.flexCenter;
		}

		&-booking {
			margin-bottom: 1rem;
		}

		&-pay {
			display: flex;
			align-items: center;

			p {
				margin-left: 0.5rem;
				font-weight: 600;
			}

			&-icon {
				height: 2.5rem;
				margin-right: 1rem;
				color: var(--primary);

				&:hover {
					cursor: default;
				}
			}
		}

		&-extra {
			display: flex;
			flex-grow: 1;
			align-items: center;
			justify-content: center;

			&-btn {
				font-size: typography.$fontsize-medium;
				padding: 1rem 3rem;
			}
		}
	}
}
