@use "../base/typography";
@use "../abstracts/mixins";
@import "~react-datepicker/dist/react-datepicker.css";

.react-datepicker {
	border: 1px solid var(--background-lines);
	border-radius: 4px;
	overflow: hidden;
	background-color: var(--background);
	font-family: inherit;
	height: max-content;

	/* Header */
	&__header {
		background-color: var(--background);
		height: 6rem;
		@include mixins.flexCenter();
	}

	&__navigation {
		color: var(--primary);

		&--next {
			top: 0;
			right: 6px;
			transform: translate(-25%, 35%);
		}

		&--previous {
			top: 0;
			left: 15px;
			transform: translate(-10%, 35%);
		}

		&-icon {
			color: var(--primary);

			&--next::before,
			&--previous::before {
				left: -4px;
				top: 11px;

				&:hover {
					color: var(--primary);
				}
			}
		}
	}

	&__current-month {
		color: var(--primary);
		font-size: typography.$fontsize-medium;
		font-weight: 500;
	}

	&__month {
		background-color: var(--background);
		padding: 1rem;

		&-container {
			background-color: var(--background);
		}
	}

	&__day {
		height: 4rem;
		width: 5rem;
		line-height: 3;
		font-family: inherit;
		font-size: typography.$fontsize-small;
		font-weight: 400;
		color: var(--primary);

		&:hover {
			background-color: var(--background-hover);
		}

		&--selected,
		&--in-range {
			background-color: var(--background-light);
		}

		&--start,
		&--end {
			background-color: var(--background-hover);
		}

		&--disabled,
		&--outside-month {
			color: var(--primary-disabled);
		}

		&--outside-month {
			visibility: hidden;
			height: 0;
		}

		&--keyboard-selected {
			background-color: var(--background-light);
		}

		&-name {
			display: none;
		}

		&--in-selecting-range:not(
				&--in-range,
				.react-datepicker__month-text--in-range,
				.react-datepicker__quarter-text--in-range,
				.react-datepicker__year-text--in-range
			) {
			background-color: var(--background-hover);
		}
	}
}
