@use "../base/typography";

.form {
	position: relative;
	width: 100%;

	input {
		width: 100%;
		padding: 1rem 2rem;

		color: var(--primary);
		font-size: typography.$fontsize-medium;
		font-weight: typography.$fontweight-medium;
		font-family: inherit;

		border: none;
		border-radius: 4px;
		background-color: var(--background-light);
		outline: none;

		&::placeholder {
			color: transparent;
		}

		&:focus + label,
		&:not(:placeholder-shown) + label {
			top: -30%;
			left: 0;
		}
	}

	label {
		position: absolute;
		top: 50%;
		left: 2rem;
		transform: translate(0, -50%);

		color: var(--primary-details);
		font-weight: typography.$fontweight-medium;
		font-size: typography.$fontsize-small;
		outline: none;
		transition: all 0.3s;
		pointer-events: none;
	}
}
