@use "../base/typography";

.menu__list {
	list-style: none;
	position: fixed;
	background-color: var(--background);
	border: 1px solid var(--background-light);
	border-radius: 6px;
	overflow: hidden;
	min-width: fit-content;
	z-index: 5;
}

.menu__item {
	border: none;
	// reset previous styles
	border-radius: 0;

	width: 100%;
	color: var(--primary);

	text-align: left;
	font-size: 1.4rem;
	padding: 1.4rem 2rem;

	display: flex;
	align-items: center;
	gap: 1.6rem;

	&:hover {
		background-color: var(--background-hover);
	}
}

.user-menu {
	width: 20rem;
}
