.menu__list {
	list-style: none;
	position: fixed;
	background-color: var(--background);
	border: 1px solid var(--background-200);
	border-radius: 6px;
	overflow: hidden;
	width: 20rem;
	box-shadow: rgba(0, 0, 0, 0.12) 0px 3px 8px;
	z-index: 5;
}

.menu__item {
	border: none;
	// reset preview styles
	border-radius: 0;

	width: 100%;
	color: var(--primary);

	text-align: left;
	font-size: 1.4rem;
	padding: 1.4rem 2rem;

	display: flex;
	align-items: center;
	gap: 1.6rem;

	&:hover {
		background-color: var(--background-100);
	}
}
