.modal {
	&__container {
		background-color: var(--background);
		border: 1px solid var(--background-200);
		color: var(--primary);
		z-index: 100;
		width: fit-content;
		padding: 1rem;
		border-radius: 6px;
	}
}
