@use "../abstracts/mixins";

.reviews-carousel {
	display: flex;
	position: relative;

	&__content {
		display: flex;
		gap: 2rem;
		margin: 0 5rem;
	}

	&__btn {
		padding: 0.2rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		background-color: var(--primary);

		border: none;
		z-index: 2;

		@include mixins.flexCenter;

		&--prev {
			left: 0.3rem;
		}

		&--next {
			right: 0.3rem;
		}

		&-icon {
			height: 3rem;
			width: 3rem;
			color: var(--background);
		}

		&:hover {
			background-color: var(--primary-details);
		}
	}
}
