@use "../themes/palettes" as palettes;

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flexEnd {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@mixin flexStart {
	display: flex;
	align-items: start;
	justify-content: center;
}
