@use "../base/typography";
@use "../abstracts/mixins";

.account {
	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 6rem;
		column-gap: 4rem;
		margin: 5rem 0;

		&-btn {
			justify-self: end; // placing with grid properties
			grid-column: 2 / 3;
			width: fit-content;
			padding: 1.5rem 3rem;
			font-size: typography.$fontsize-medium;
			font-weight: 500;
			margin-top: -2rem;
		}
	}

	&__title {
		font-size: typography.$fontsize-large;
		margin-bottom: 0.5rem;
	}
}

.delete-account {
	@include mixins.flexEnd();

	&-btn {
		font-size: typography.$fontsize-medium;
		padding: 1rem 3rem;
		color: var(--red);
		border: 1px solid var(--red);

		&:hover {
			background-color: var(--background);
		}
	}
}
