@use "../abstracts/mixins";
@use "../base/typography";

.listings {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
	column-gap: 4rem;
	row-gap: 4rem;

	list-style: none;
	padding: 4rem 8rem;

	&__cell {
		@include mixins.flexStart;
	}

	&__header {
		width: 100%;
		padding: 2rem 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__filters {
		display: flex;
		gap: 1rem;

		&-button {
			font-size: typography.$fontsize-medium;
			padding: 1rem 2rem;
			@include mixins.flexCenter();
			gap: 1rem;

			&-icon {
				height: 2.5rem;
				width: 2.5rem;
				z-index: 2;

				&-crowd {
					margin-left: -1.3rem;
					z-index: 1;
					transform: scaleX(-1);
				}
			}

			&:hover,
			&--active {
				background-color: var(--background-hover);
			}
		}
	}

	&__sorting {
		@include mixins.flexCenter();
		font-size: typography.$fontsize-medium;
		color: var(--primary);

		gap: 2rem;

		&-select {
			background-color: var(--background);

			outline: none;
			font-family: inherit;
			padding: 1rem;
			border-radius: 6px;
			font-size: inherit;
			color: inherit;

			&-option {
				font-size: inherit;
				color: inherit;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	&__pagination {
		padding: 0 4rem 4rem 4rem;
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: space-between;
		font-size: typography.$fontsize-small;

		span {
			font-weight: 500;
			font-size: typography.$fontsize-medium;
		}

		p {
			@include mixins.flexCenter();
			gap: 1rem;
		}

		&-btn {
			border: none;
			font-size: typography.$fontsize-small;
			font-weight: 500;
			padding: 0;
			@include mixins.flexCenter();
			color: var(--primary-important);

			&:disabled {
				color: var(--primary-details);
			}

			&:hover {
				background-color: var(--background);
			}

			&-icon {
				height: 2.5rem;
				width: 2.5rem;
				padding: 0;
				margin: 0;
				color: inherit;
			}
		}
	}
}

.listing {
	text-decoration: none;
	overflow: hidden;
	min-width: 37rem;

	&__photo {
		position: relative;

		&-heart {
			position: absolute;
			background-color: var(--background);
			box-sizing: content-box;
			padding: 0.75rem;
			border-radius: 100rem;

			z-index: 2;
			top: 7.5px;
			right: 10px;

			width: 2.2rem;
			height: 2.2rem;

			&--empty {
				fill: none;
				stroke: var(--red);
				stroke-width: 12px;
			}

			&--full {
				fill: var(--red);
				stroke: var(--red);
				stroke-width: 12px;
			}
		}
	}

	&__small-margin {
		height: 0.75rem;
	}

	&__details {
		color: var(--primary);
		font-size: typography.$fontsize-small;
		margin-top: 0.3rem;
		padding: 0 1rem;

		&-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-location {
			font-size: typography.$fontsize-medium;
			font-weight: 600;
		}

		&-rating {
			display: flex;
			align-items: center;
			justify-items: flex-end;
			min-width: max-content;
			gap: 0.25rem;

			&-icon {
				height: 1.5rem;
				width: 1.5rem;
			}

			span {
				color: var(--primary-details);
			}
		}

		&-capacity {
			&-icon {
				width: 1.5rem;
				height: 1.5rem;
			}
		}

		&-availability {
			span {
				font-weight: 500;
			}
		}

		&-price {
			@include mixins.flexEnd;
			gap: 0.7rem;

			&-end {
				margin-left: -0.5rem;
				color: var(--primary-details);
			}

			&-value {
				font-weight: 500;
				margin-left: -0.2rem;
			}
		}
	}
}
