@use "../abstracts/mixins";
@use "../base/typography";

.listing {
	&__grid {
		display: grid;
		grid-template-rows: repeat(5, min-content);
		grid-template-columns:
			[listing-start] repeat(
				11,
				[col-start] minmax(min-content, 15rem) [col-end]
			)
			[listing-end];
		margin: 4rem;
		padding: 0 4rem;

		&-header {
			grid-column: listing-start / listing-end;
			grid-row: 1 / 2;

			display: grid;
			grid-template-columns: minmax(min-content, 4fr) minmax(
					min-content,
					3fr
				);
		}
	}

	&__title {
		font-size: typography.$fontsize-large;
		font-weight: 500;
		margin-top: 6rem;
		margin-bottom: 2rem;
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;
	}

	&__carousel {
		&-photo {
			border-radius: 12px;
			aspect-ratio: 16 / 9;
			object-position: center;
		}
	}

	&__presentation {
		padding: 0 3rem;

		&__details {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			width: 100%;

			&-location {
				p {
					font-size: typography.$fontsize-xlarge;
					font-weight: 600;

					span {
						font-weight: 300;
					}
				}
			}

			&-capacity {
				font-size: typography.$fontsize-large;
			}

			&-description {
				font-size: typography.$fontsize-small;
				color: var(--primary-details);
			}
		}

		&__host {
			display: flex;
			gap: 1rem;
			padding: 3rem 0;

			&-pfp {
				height: 5rem;
				border-radius: 100rem;
			}

			&-text {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: start;

				p {
					font-size: typography.$fontsize-medium;
					color: var(--primary-details);
				}
			}

			&-flag {
				height: 1.6rem;
			}
		}

		&__amenities {
			display: flex;
			flex-direction: column;

			&-title {
				margin-top: 4rem;
			}

			&-list {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;
				list-style: none;
				font-size: typography.$fontsize-small;

				&-btn {
					border: 1px solid var(--background-lines);
					padding: 1rem 1.5rem;
					border-radius: 6px;
					width: max-content;
				}
			}
		}
	}

	&__map {
		grid-column: 1 / -1;

		&-container {
			height: 60rem;
			margin: 0 auto;
			border-radius: 12px;
			overflow: hidden;
		}
	}

	&__reviews {
		grid-column: 1 / -1;

		&-header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			&-score {
				@include mixins.flexCenter;
				font-size: typography.$fontsize-large;

				span {
					color: var(--primary-details);
					font-size: typography.$fontsize-medium;
				}
			}

			&-icon {
				height: 2.25rem;
			}
		}
	}

	&__info {
		grid-column: listing-start / listing-end;

		&-grid {
			display: flex;
			justify-content: space-between;
		}

		&__card {
			padding: 0 2rem;

			&-container {
				width: fit-content;
				text-wrap: wrap;
			}

			&-title {
				font-size: typography.$fontsize-medium;
				font-weight: 500;
				margin-bottom: 0.5rem;
			}

			&-entries {
				font-size: typography.$fontsize-small;
				list-style: none;
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				color: var(--primary-details);
			}
		}
	}

	&__booking {
		grid-column: 1 / -1;

		&-container {
			display: flex;
			justify-content: space-between;
			height: max-content;
			align-items: flex-start;
			padding: 0 10rem;
			margin-top: 4rem;
		}

		&-text {
			height: 30.6rem;
			font-size: typography.$fontsize-large;
			@include mixins.flexCenter();
			color: var(--primary);
			text-wrap: wrap;

			&-link {
				color: var(--primary-important);
				margin: 0 0.5rem;
			}
		}

		&__summary {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			min-width: max-content;
			width: 36rem;
			border: 1px solid var(--background-lines);
			border-radius: 3px;
			padding: 2rem 4rem;

			font-size: typography.$fontsize-medium;

			&-line {
				margin-top: 1rem;
			}

			&-header {
				font-size: typography.$fontsize-large;
				font-weight: 500;
				margin-bottom: 2rem;
			}

			&-btn {
				font-size: typography.$fontsize-medium;
				font-weight: 500;
				margin-top: 2rem;
				padding: 1rem;
			}

			&-total {
				font-size: typography.$fontsize-medium;
				font-weight: 500;
			}

			&-row {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

// for maps dialogue / info modal
.transit-container {
	color: var(--background);
}
