@use "../abstracts/mixins";
@use "./typography";
@use "./normalize";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--background: #111315; // main background
	--background-hover: #212529; // hovering elements
	--background-light: #4d5154; // elements that have to be hightlighted, but are not active, or hairlines / separating lines
	--background-lines: #7c7f83;

	--primary-important: #f8f9fa; // important bold text
	--primary: #e9ecf5; // normal text
	--primary-details: #d2d4dd; // details, unimportant text
	--primary-disabled: #495057;

	// toasts and others -> must update
	--red: #f50000;
	--yellow: #fbbd00;
	--green: #1cc819;
}

.dark-theme {
	--background: #111315;
	--background-hover: #212529;
	--background-light: #4d5154;
	--background-lines: #7c7f83;

	--primary-important: #f8f9fa;
	--primary: #e9ecf5;
	--primary-details: #d2d4dd;
	--primary-disabled: #495057;

	--red: #f50000;
	--yellow: #fbbd00;
	--green: #1cc819;
}

.light-theme {
	--background: #f8f9fa;
	--background-hover: #e4e5e5;
	--background-light: #e9ecef;
	--background-lines: #868e96;

	--primary-important: #111315;
	--primary: #1a1e21;
	--primary-details: #373b3e;
	--primary-disabled: #c8cbcd;

	--red: #f50000;
	--yellow: #fbbd00;
	--green: #1cc819;
}

html {
	font-size: 62.5%;
	height: 100%;
}

header,
footer,
body {
	transition: background-color 0.5s;
}

body {
	box-sizing: border-box;
	position: relative;
	min-height: fit-content;
}

.grid-container {
	min-height: 100vh;
	max-height: fit-content;
	display: grid;
	grid-template-rows:
		[header-start] 10rem [header-end page-start] 1fr
		[page-end footer-start] 8rem [footer-end];
	grid-template-columns:
		1fr [page-start] repeat(12, [col-start] minmax(5rem, 15rem) [col-end])
		[page-end]
		1fr;
}

.account-grid-container {
	min-height: calc(100vh - 10rem - 8rem);
	max-height: fit-content;

	display: grid;
	grid-template-columns: [sidebar-start] minmax(min-content, 20%) [sidebar-end content-start] 1fr [content-end];

	grid-column: 2 / -2;

	@include mixins.respond(tab-port) {
		display: grid;
		grid-template-rows: [sidebar-start] max-content [sidebar-end content-start] 1fr [content-end];
		grid-template-columns: 1fr;
	}
}

.page-container {
	grid-column: page-start / page-end;
	grid-row: page-start / page-end;
}

.page-container--center {
	grid-column: page-start / page-end;
	grid-row: page-start / page-end;
	@include mixins.flexCenter;
}

.user-page {
	margin: 4rem 6rem;
}

.empty-fallback {
	font-size: typography.$fontsize-medium;
	padding: 0;
	margin: 0;
}

.error-page {
	width: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15vh auto;
	font-size: typography.$fontsize-medium;
	color: var(--primary-important);

	&-icon {
		height: 1.75rem;
		width: 1.75rem;
		fill: var(--primary);
	}

	button {
		font-size: typography.$fontsize-small;
		color: inherit;
		margin-top: 3rem;
		padding: 1rem 2rem;
		@include mixins.flexCenter();
		gap: 1rem;
	}
}
