@use "../abstracts";
@use "./normalize";
@use "../themes/palettes";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	box-sizing: border-box;
	position: relative;
	min-height: fit-content;
	@include palettes.apply-theme("dark-theme");
	transition: all 0.2s;
}

.container {
	min-width: fit-content;
	max-width: 180rem; //might increase later
	margin: 0 auto;
}

.page {
	display: flex;
	height: calc(100vh - 8rem - 6rem);
}
