@use "../abstracts";
@use "./normalize";
@use "../themes/palettes";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--background: #141204;
	--background-100: #1e1e1e;
	--background-200: #2b2b2b;
	--primary: #e9ecf5;
	--primary-100: #d2d4dd;
	--primary-200: #75767b;
	--error: #f50000;
	--success: #1cc819;
}

.dark-theme {
	--background: #141204;
	--background-100: #1e1e1e;
	--background-200: #2b2b2b;
	--primary: #e9ecf5;
	--primary-100: #d2d4dd;
	--primary-200: #75767b;
	--error: #f50000;
	--success: #1cc819;
}

.light-theme {
	--background: #e9ecf5;
	--background-100: #d2d4dd;
	--background-200: #75767b;
	--primary: #141204;
	--primary-100: #1e1e1e;
	--primary-200: #2b2b2b;
	--error: #f50000;
	--success: #1cc819;
}

html {
	font-size: 62.5%;
	height: 100%;
}

header,
footer,
body {
	transition: background-color 0.5s;
}

body {
	box-sizing: border-box;
	position: relative;
	min-height: fit-content;
}

.grid-container {
	min-height: 100vh;
	max-height: fit-content;
	display: grid;
	grid-template-rows:
		[header-start] 8rem [header-end page-start] 1fr
		[page-end footer-start] 6rem [footer-end];
	grid-template-columns:
		1fr [page-start] repeat(
			12,
			[col-start] minmax(min-content, 15rem) [col-end]
		)
		[page-end]
		1fr;
}

.account-grid-container {
	min-height: calc(100vh - 8rem - 6rem);
	max-height: fit-content;

	display: grid;
	grid-template-columns: [sidebar-start] minmax(min-content, 20%) [sidebar-end content-start] 1fr [content-end];

	grid-column: 2 / -2;
}

.page-container {
	grid-column: page-start / page-end;
	grid-row: page-start/page-end;
}

.user-page {
	padding: 1rem 4rem;
}
