@use "../abstracts";
@use "../base/typography";

.line {
	height: 0.75px;
	// 1px is bugged for some reason
	width: 100%;
	background-color: var(--background-lines);
}

.border-bottom {
	border-bottom: 1px solid var(--background-lines);
}

.small-margin {
	height: abstracts.$small-margin;
}
