svg {
	width: 3rem;
	height: 3rem;
	color: var(--primary);

	&:hover {
		cursor: pointer;
	}
}

button {
	border: 1px solid var(--background-200);
	border-radius: 100rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	background-color: var(--background);

	&:hover {
		background-color: var(--background-200);
	}
}

body {
	font-size: 1.2rem;
	color: var(--primary);
	background-color: var(--background);
}
