body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 1.4rem;
}

$fontsize-xsmall: 1rem;
$fontsize-small: 1.2rem;
$fontsize-medium: 1.4rem;
$fontsize-large: 1.8rem;
$fontsize-xlarge: 2.4rem;

$fontweight-medium: 400;
$fontweight-large: 500;
$fontweight-xlarge: 600;
